<%= bootstrap_form_for(@post, multipart: true, layout: :horizontal, label_col: "col-md-3", control_col: "col-md-6") do |f| %>
							  <% if @post.errors.any? %>
							    <div id="error_explanation">
							      <h2><%= pluralize(@post.errors.count, "error") %> prohibited your post from being saved:</h2>

							      <ul>
							      <% @post.errors.full_messages.each do |msg| %>
							        <li><%= msg %></li>
							      <% end %>
							      </ul>
							    </div>
							  <% end %>

							    <%= f.hidden_field :user_id, value: @user.id %>
							    <%= f.hidden_field :coffee_bar_id %>
							    <%= f.select :beverage_id, @beverages.collect { |b| [b.name, b.id] }, { class: "selectpicker" }, label: 'beverage' %>
							    <%= f.select :brewing_method_id, @brewing_methods.collect { |b| [b.name, b.id] }, { class: "selectpicker" } %>
							    <%= f.select :coffee_rating, [*1..5].reverse.collect { |num| num }, { class: "selectpicker" } %>
							    <%= f.text_field :roaster, label: 'roaster' %>
							    <%= f.text_field :title, label: 'title your coffee conquest' %>
							    <%= f.text_area :description, label: 'notes:' %>
							    <%= f.file_field :avatar, label: 'photo' %>
							    <%= f.submit 'post it.' %>
							<% end %>

